node_modules
.DS_Store
.idea
.vscode
.chrome
.run
.awcache
.babelcache
.eslintcache
.stylelintcache
*.log
npm-debug.log
dist/core
dist/public/style
dist/public/js/*.*
!dist/public/js/FontLoader.js
style.css.map
data
dist/private/**/*.*
dist/\**
dist/public/firebase-messaging-sw.js
dist/public/auth-init.js
dist/public/threeDSecure.js
dist/public/auth-callback-error.js
dist/public/auth-init.html
dist/public/threeDSecure.html
dist/public/auth-callback.html
dist/server
dist/client
dist/proxy
dist/public/locale
dist/src
dist/typings
locale-toolkit/*.json
coverage
src/client/**/*.css.json
tempdata
scripts/mount_efs.retry
report.html
bundle/server.js
bundle/server.map.js
.nyc_output
config/local.js
config/local-*.js
stats.json
src/server/route/flow.js
errorShots
.version
.ts-node
test/test-pages/embedded.html
*.sh
!move-sourcemaps.sh
!copy-static.sh
!start.sh
!start-sandbox.sh
mediaSync.js
lambdaTest.js
package-lock.json
createWebhook.js
decryptWebhookResponse.js
profiling
newLocales.json
whitelist.json
locales_pure.json
project.json
.yalc
.lighthouseci
yalc.lock
config/jwt
snapshots
